<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- This is our bean -->
	<bean class="pojo.Student" name="student">
		<property name="studentId" value="178" />
		<property name="studentName" value="Siddharth"/>
		<property name="studentAddress" value="New Bairahana"/>
	</bean>
	
	
</beans>